*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0b0b0b;
    color: #fff;
    overflow-x: hidden;
}
#page1{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}
.header{
    position: relative;
    width:100%;
    background-color: rgb(29, 28, 28);
    height: 18vh;
}
.header h1{
    position: absolute;
    top: 4vh;
    left: 13vw;
}
.globe{
    position: relative;
    font-size: 2.5rem;
    left: 8vw;
    color: orange;
    top:2.6vh;
    background-color: #040202be;
    border-radius: 10px;
}
.header h2{
    position: relative;
    font-size: 1rem ;
    left: 13vw;
    top:3vh;
    font-weight: 200;
    color:rgb(9, 247, 9)
}
